# ==============================
# Python / Django
# ==============================

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
*.env
*.env.prod

# SQLite database
db.sqlite3

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.sqlite

# Media / uploads
media/

# JetBrains / PyCharm
.idea/

# MacOS
.DS_Store

# ==============================
# Misc
# ==============================

*.swp
*.swo
