.scrollable {
  overflow-y: scroll;
  scrollbar-width: thin; /* for Firefox */
  scrollbar-color: transparent transparent; /* optional */
}

.scrollable::-webkit-scrollbar {
  width: 0px; /* hide scrollbar for Chrome/Safari/Edge */
}
